<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.janos.jung.movietracker" android:versionName="1.01.01 upgraded packages" android:installLocation="auto" android:versionCode="66">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="MovieTracker" android:icon="@drawable/CinemaPic3"></application>
</manifest>